body{font-family:Verdana; color:white; background-color:#fafafa; font-size: 12px;}
/* Styles généraux redrpoduit sur toutes les pa */
#gabarit{width:1020px; margin:auto;}
#bandeau_sup{width:100%;background-color:#303f9f;font-size: 12px;}
#bandeau_inf{font-family:Verdana; font-size:32px; font-weight:bold; background-color:#0066B2; height: 140px; width:100%;}
#bandeau_maint{font-family:Verdana; font-size:48px; font-weight:bold; background-color:red; width:100%;}
#bandeau_menu{font-family:Verdana; font-size:12px;background-color:#9b9b9b;  width:100%;}
#stats{font-family:Verdana; font-size:12px;background-color:#fafafa; width:100%;color:#e8e8e8;}
.table_stats{font-family:Verdana; font-size:12px;background-color:#e8e8e8; width:100%;color:#515151;}
#recherche_listing{background-color:#3F51B5; color:#fafafa;padding-bottom:10px;font-size: 16px;padding-top:10px;}
#listing{background-color:#3F51B5; color:#fafafa;padding-bottom:10px;font-size: 14px;padding-top:10px;}
#submit_listing{background-color: #9c27b0; border:0px;height:31px; color:white;}
.menu_item {
  font-family:Verdana; 
  font-size:12px;
  background-color:#9b9b9b;  
  width:240px;
  text-align: center; 
}
a.menu{font-size:12px;color:#e8e8e8;text-decoration:none;}
a.reinit{font-size:16px;color:#9b9b9b;text-decoration:none;}
#titre{font-size:32px; 	font-family:Verdana;	margin-left: 15px;}
#evt{font-size:12px; 	font-family:Verdana;	margin-left: 15px; color:yellow;}
#sous_titre{	font-size: 11px;	font-family: Verdana; margin-left: 15px;}
a.prenom{font-size:31px;color:#9c27b0;}
a.reinit{font-size:18px;color:#fafafa;font-weight:bold;}
.logo{	width:140px;}
li{ text-align:justify;margin:5px;color:#020202;}
/* Page d'accueil index  */
#bienvenue{	margin:10px;font-size:16px;}
#bienvenue_bien{	margin:10px;font-size:22px;}
#message_bis{font-size:18px;margin-left:20px;}
#message_erreur{color:#f00;}
#ff{color:#fff;font-size:12;}
#cadre_profil{font-size:16px;background-color: #3f51b5;}
#cadre_reinit{font-size:16px;background-color: #3f51b5;}
#submit_reinit{ background-color: #9c27b0; border:0px; width:298px; height:62px; color:white; padding:15 15 15 15; margin:5px;font-size: 16px;}
#message_reinit{font-size:16px;background-color: #3f51b5; margin-left:20px;}
#message_reinit_erreur{font-size:16px;background-color: #9c27b0; margin:auto;width:1020px;}
#imessage{font-size:16px;background-color: #9c27b0; margin:auto;width:1020px;}
#message_deverouille{font-size:16px;background-color: #9c27b0; padding:50px;}
#message_r{font-size:16px;background-color: #9c27b0;}
#invit_connexion{background-color: #3f51b5; font-size:32px; width:100%;}
#invit_bis{background-color: #3f51b5; font-size:16px; width:100%;}
p.invit_bis{background-color: #3f51b5; font-size:14px; margin-left:20px;}
#aide_bandeau{text-align:left;}
#ident{font-size:12px;margin-left:180px;}
a.index {margin-left:5px;color:#e8e8e8;font-size:12px;text-decoration:underline;}
a{font-size:12px;color:white;text-decoration:none;}
#submit_connexion{background-color: #9c27b0;border:0px;width:298px;height:62px;color:white;padding:15 15 15 15;margin-top:35px;margin-left:15px;margin-bottom:90px;margin-right:15px;position: relative;left: -88px;font-size: 16px;}

#verouille{background-color:#0066B2; opacity:0.9;position:absolute;width:100%;height:100%;color:#000;z-index:4;}

#table_verouille{background-color:#9b9b9b; opacity:1;margin:auto;color:#fff;margin-top:20%;color:white;z-index:3;background-image:url('images/bck.png');}
a.deverouille{color:yellow;font-size:16px;font-weight:bold;}
a.deverouillage{color:#fafafa;font-size:16px;text-decoration:underline;font-weight:bold;}
a.index_bis{color:#fafafa;font-size:14px;font-weight:bold;}
#submit_deverouille{ background-color: #9c27b0; border:0px; width:298px; height:62px; color:white; padding:15 15 15 15; margin-left:5px;font-size: 16px;}

#message{background-color:#e8e8e8;font-size: 22px;color:#ff0000;}

.error_msg{background-color:#e8e8e8;font-size: 22px;color:#ff0000;}

.info_msg{font-size:16px;background-color: #9c27b0;}


.input_connexion{	width:460px;	height:62px;	padding:15 15 15 15;	margin :15 15 15 0;}
#recherche_l{background-color:#e8e8e8;width:auto;color:#737373;font-size:22px;padding-left:15px;margin:0px;padding-top: 5px;padding-bottom: 5px;}
#obligatoire {background-color:#9b9b9b; width:auto; color:#303030; font-size:11px; padding-left:40px; margin:0px; padding-top: 2px; padding-bottom: 2px;}
.obligatoire_tr{background-color:#9b9b9b;}
#check_acte{background-color:#fafafa; border:0px; width:62px; height:62px;}
table.table_actes{ width:980px;margin:auto;background-color:#fafafa;}
#recherche_text{ color:#202020;}
#acte_deces {background-color:#3F51B5; color:#202020; padding-bottom:10px;font-size: 16px;padding-top:10px;}
#etat_civil {background-color:#3F51B5; color:#202020;padding-top:10px;font-size: 16px;padding-bottom:30px;}
input[type=text] {width: 460px; height: 62px; display: inline; background-color: #e8e8e8; border:0px; margin:5px; padding-left: 15px; font-size:22px;}
input.listing{height: 31px; display: inline; background-color: #fafafa; border:0px; margin:5px; padding-left: 15px; font-size:11px;width: 250px;color:#9b9b9b;}
select{height: 31px; display: inline; background-color: #fafafa; border:0px; margin:5px; padding-left: 15px; font-size:11px;color:#9b9b9b;}
#msg_erreur{width:600px; height: 31px;display: inline; background-color: #fafafa;border:0px;padding-left: 15px;font-size:18px;font-style:italic;color:#ff0000;}
#submit_rechercher{ background-color: #9c27b0; border:0px; width:298px; height:62px; color:white; padding:15 15 15 15; margin :auto;font-size: 16px;}
input[type=password] {width: 460px; height: 62px; display: inline; background-color: #e8e8e8; border:0px; margin:5px; font-size:22px;}
input[type=checkbox] { height: 62px; background-color: #e8e8e8; border:0px; -moz-appearance: button;}
label.checkbox input[type="checkbox"] {display:none;}
label.checkbox span { display:inline-block; border:1px solid #020202; width:50px; height:50px; background:#bebebe; vertical-align:middle; background-image: url("images/uncheck.png"); margin-left:4px;}
label.checkbox :checked + span { background-color: #e8e8e8; background-image: url("images/check.png");}
p.test{width:80%; margin-left: 45px;}
p.nota{ border:dotted 1px black; background-color:#9b9b9b;color:#fafafa;}
th{color:#fafafa;background-color:#0066B2;font-size:12px;font-weight:bold;}
#message_reponse{background-color: #3F51B5;color:#e8e8e8;padding:50px;font-size:16px;}
#encart_aide {background-color: #3F51B5;padding-left:15px;padding-right:15px;padding-top:20px;padding-bottom:15px;}
#texte_aide{background-color: #fafafa;color:#9b9b9b;padding-left:45px;padding-right:45px;padding-top:40px;padding-bottom:40px;}
h1{font-size:30px; font-weight:normal;color:#020202;}
h2{font-size:22px; font-weight:normal;color:#020202;}
h3{font-size:16px; font-weight:normal;color:#020202;}
p.aide{background-color: #fafafa;color:#020202;}
#cercle{background-color:#9b9b9b;border-radius:50%;width:32px;height:32px;border:2px solid #ffffff;}
#warning{color: #ffffff;margin: auto;font-size: 25px;font-weight: bold;font-family: verdana;padding-left: 3px;}
a.mail{color:#9c27b0;font-size:14px;}
a.pdf{color:#9c27b0;}
tr.stats:hover {background-color:#0066B2;color:#fafafa;}
img.info{ width:31px;height:31px}
a.info_bulle span {position:absolute;width:1px;  height:1px; overflow:hidden; background:#9b9b9b;color:#fafafa;border:none;} 
a.info_bulle { color:#fafafa;font-size:80%;text-decoration:none; }
a.info_bulle:hover span, a.info_bulle:focus span, a.info_bulle:active span{ top:auto; left:auto; width:220px;  height:31px;  overflow:visible;}
#version{color:#000000;}
table.table_admin thead tr th, table.table_admin tfoot tr th {
	/*background-color:#737373 ;*/
	color:#fafafa;
	background-color:#0066B2;
	font-size:12px;
	font-weight:bold;
	padding: 4px;
	cursor: pointer;
}
table.table_admin thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.table_admin  tbody td {
	/*color: #3D3D3D;*/
	/*background-color: #94BEC5;*/
	padding: 4px;
	vertical-align: center;
	/*white-space: normal;*//*word-wrap:break-word*/
}

.table_admin tr.tabliste:nth-child(even):hover {background-color: #0066B2;color:#fafafa;}
.table_admin tr.tabliste:nth-child(odd):hover {background-color: #0066B2;}
.table_admin tr.tabliste:nth-child(even){background-color: #fafafa;color:#9b9b9b;font-size:10px;}
.table_admin tr.tabliste:nth-child(odd){background-color: #9b9b9b;color:#fafafa;font-size:10px;}
/*table.table_admin3  tbody tr.odd td {
	background-color:#CDE1E4;
}*/

.table_admin tr.tablemembre:nth-child(even):hover {background-color: #0066B2;color:#fafafa;font-size:12px;}
.table_admin tr.tablemembre:nth-child(odd):hover {background-color: #0066B2;font-size:12px;}
.table_admin tr.tablemembre:nth-child(even){background-color: #fafafa;color:#9b9b9b;font-size:12px;}
.table_admin tr.tablemembre:nth-child(odd){background-color: #E8E8E8;color:#9b9b9b;font-size:12px;}


table.table_admin thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.table_admin thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	/*white-space: normal;
	padding: 4px 20px 4px 4px;*/
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	border-bottom: #000 2px solid;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	border-bottom: #000 2px solid;
}

a.menus{color:black;}
a.menus:hover{color:black;background-color:#0066B2;}

.message_reinit {
  font-size: 16px;
  background-color: #3f51b5;
  margin-left: 20px;
}

.debug{
  font-family:Verdana; 
  color:black; 
  background-color: yellow;
  font-size: 12px;
}
