﻿<br/>
<a class=menus href="index.php?admin=log">Fichier Log données</a>
<br/><br/>
<a class=menus href="index.php?admin=membres">Consultation des accès</a>
<br/><br/>
<a class=menus href="index.php?admin=user">Créer un utilisateur</a>
